[Unit]
Description=ArwainService

[Service]
WorkingDirectory=/home/pi/arwain_inference_core/
ExecStart=/home/pi/arwain_inference_core/build/arwain --conf arwain.conf
User=pi
Sockets=arwain.socket
StandardInput=socket
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
